@model INTRANET_CR.Models.Departamento

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Departamento</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DeNombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DeNombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DeMail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DeMail)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DeSucursal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DeSucursal)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DeEstado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DeEstado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmCodigoNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmCodigoNavigation.EmCodigo)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.DeCodigo">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
