@model INTRANET_CR.Models.Contrato

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Contrato</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CoTipo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CoTipo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CoInicio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CoInicio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CoFin)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CoFin)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CoSueldo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CoSueldo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CoBono)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CoBono)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CoMotivoSalida)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CoMotivoSalida)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CoLiquidacion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CoLiquidacion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CoObservacion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CoObservacion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CoEstado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CoEstado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CoUbicacion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CoUbicacion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CoExtension)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CoExtension)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UsCodigoNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UsCodigoNavigation.UsCodigo)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.CoCodigo">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
