@model INTRANET_CR.Models.Ticket

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Ticket</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TicTitulo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TicTitulo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TicDescripcion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TicDescripcion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TicTipo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TicTipo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TicPrioridad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TicPrioridad)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TicTecnico)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TicTecnico)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TicUsuario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TicUsuario)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TicCalificacion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TicCalificacion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TicInicio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TicInicio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TicTiempo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TicTiempo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TicEstado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TicEstado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TicFin)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TicFin)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UsCodigoNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UsCodigoNavigation.UsApellido1)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.TicCodigo">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
