@model INTRANET_CR.Models.Directorio

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Directorio</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DirCliente)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DirCliente)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DirArea)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DirArea)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DirIndustria)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DirIndustria)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DirDetalle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DirDetalle)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DirCosto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DirCosto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DirInvolucrados)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DirInvolucrados)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DirEncargados)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DirEncargados)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DirMiembros)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DirMiembros)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DirOtros)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DirOtros)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DirInicio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DirInicio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DirFin)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DirFin)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DirAdicional)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DirAdicional)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DirCreado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DirCreado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DirModificado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DirModificado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DirRevisado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DirRevisado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DirConfidencial)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DirConfidencial)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DirDescripcion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DirDescripcion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DirFechaIngreso)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DirFechaIngreso)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DirNumeroCaso)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DirNumeroCaso)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmCodigoNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmCodigoNavigation.EmCodigo)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.DirCodigo">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
