@model INTRANET_CR.Models.Solicitude

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Solicitude</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SoTipo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SoTipo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SoOtros)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SoOtros)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SoMotivo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SoMotivo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SoDetalle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SoDetalle)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SoPrestamoCantidad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SoPrestamoCantidad)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SoPrestamoCuotas)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SoPrestamoCuotas)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SoPrestamoValor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SoPrestamoValor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SoPermisoDesde)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SoPermisoDesde)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SoPermisoHasta)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SoPermisoHasta)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SoAusenciaDesde)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SoAusenciaDesde)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SoAusenciaHasta)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SoAusenciaHasta)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SoAusenciaRetorno)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SoAusenciaRetorno)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SoPersonalCargo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SoPersonalCargo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SoPersonalCupos)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SoPersonalCupos)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SoPersonalSueldo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SoPersonalSueldo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SoPersonalContrato)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SoPersonalContrato)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SoPersonalArea)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SoPersonalArea)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SoPersonalSucursal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SoPersonalSucursal)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SoPersonalMotivo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SoPersonalMotivo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SoPersonalReemplaza)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SoPersonalReemplaza)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SoPersonalTiempo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SoPersonalTiempo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SoPersonalJornada)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SoPersonalJornada)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SoPersonalInicio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SoPersonalInicio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SoPersonalObservacion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SoPersonalObservacion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SoPersonalJefe)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SoPersonalJefe)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SoEstado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SoEstado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SoFecha)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SoFecha)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UsCodigoNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UsCodigoNavigation.UsApellido1)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="SoCodigo" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
