@model INTRANET_CR.Models.Asunto

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Asunto</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AsuTitulo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AsuTitulo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AsuIdioma)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AsuIdioma)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AsuCategoria)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AsuCategoria)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AsuArea)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AsuArea)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AsuSucursal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AsuSucursal)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AsuResponsable)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AsuResponsable)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AsuDescripcion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AsuDescripcion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AsuMoneda)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AsuMoneda)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AsuFormaLiquidacion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AsuFormaLiquidacion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AsuFeeMonto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AsuFeeMonto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AsuFeePeriodicidad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AsuFeePeriodicidad)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AsuMontoMaximo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AsuMontoMaximo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AsuHorasMaximo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AsuHorasMaximo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AsuDetalleCobranza)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AsuDetalleCobranza)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AsuEstado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AsuEstado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AsuCliente)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AsuCliente)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AsuTarifa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AsuTarifa)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AsuNombreSol)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AsuNombreSol)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AsuMailSol)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AsuMailSol)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AsuDireccionSol)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AsuDireccionSol)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AsuTelefonoSol)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AsuTelefonoSol)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AsuCobrable)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AsuCobrable)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AsuDescuento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AsuDescuento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AsuImpuestos)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AsuImpuestos)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AsuCodigoSecundario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AsuCodigoSecundario)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AsuCreador)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AsuCreador)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CliCodigoNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CliCodigoNavigation.CliCodigo)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.AsuCodigo">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
