@model INTRANET_CR.Models.ContactoFacturacion

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ContactoFacturacion</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CofNombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CofNombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CofTelefono)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CofTelefono)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CofMail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CofMail)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CofDireccion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CofDireccion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CofEstado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CofEstado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CliCodigoNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CliCodigoNavigation.CliCodigo)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.CofCodigo">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
