@model INTRANET_CR.Models.Hito

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Hito</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HiFecha)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HiFecha)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HiDescripcion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HiDescripcion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HiValor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HiValor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HiObservacion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HiObservacion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HiFechaRecordatorio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HiFechaRecordatorio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AsuCodigoNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AsuCodigoNavigation.AsuCodigo)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.HiCodigo">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
