@model INTRANET_CR.Models.EventosSolicitude

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>EventosSolicitude</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EvsDescripcion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EvsDescripcion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EvsResponsable)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EvsResponsable)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EvsObservacion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EvsObservacion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EvsFecha)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EvsFecha)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SoCodigoNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SoCodigoNavigation.SoCodigo)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.EvsCodigo">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
