@model INTRANET_CR.Models.EventosAsunto

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>EventosAsunto</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EvaDescripcion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EvaDescripcion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EvaResponsable)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EvaResponsable)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EvaObservacion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EvaObservacion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EvaFecha)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EvaFecha)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AsuCodigoNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AsuCodigoNavigation.AsuTitulo)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.EvaCodigo">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
