@model INTRANET_CR.Models.Documento

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Documento</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DocTipo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DocTipo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DocDescripcion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DocDescripcion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DocPeriodo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DocPeriodo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DocEstado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DocEstado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DocFecha)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DocFecha)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UsCodigoNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UsCodigoNavigation.UsApellido1)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="DocCodigo" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
