@model INTRANET_CR.Models.Educacion

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Educacion</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EdTipo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EdTipo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EdNivel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EdNivel)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EdPlantel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EdPlantel)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EdCiudad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EdCiudad)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EdInicio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EdInicio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EdFin)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EdFin)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EdTitulo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EdTitulo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EdFinalizado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EdFinalizado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EdDescripcion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EdDescripcion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EdEstado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EdEstado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UsCodigoNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UsCodigoNavigation.UsApellido1)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.EdCodigo">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
