@model INTRANET_CR.Models.Experiencium

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Experiencium</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ExEmpresa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ExEmpresa)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ExDireccion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ExDireccion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ExTelefono)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ExTelefono)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ExCargoinicial)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ExCargoinicial)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ExSueldoinicial)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ExSueldoinicial)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ExCargofinal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ExCargofinal)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ExSueldofinal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ExSueldofinal)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ExMotivorenuncia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ExMotivorenuncia)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ExEstado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ExEstado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ExDescripcion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ExDescripcion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ExTiempo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ExTiempo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UsCodigoNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UsCodigoNavigation.UsApellido1)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="ExCodigo" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
