@model INTRANET_CR.Models.Curso

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Curso</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CuNombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CuNombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CuDescripcion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CuDescripcion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CuEstado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CuEstado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UsCodigoNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UsCodigoNavigation.UsCodigo)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.CuCodigo">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
