@model INTRANET_CR.Models.Referencia

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Referencia</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReEmpresa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReEmpresa)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReCargo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReCargo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReNombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReNombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReDireccion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReDireccion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReTelefono)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReTelefono)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReMail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReMail)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReTipo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReTipo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReRelacion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReRelacion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UsCodigoNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UsCodigoNavigation.UsApellido1)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ReCodigo">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
