@model INTRANET_CR.Models.Familiare

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Familiare</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FaIdentificacion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FaIdentificacion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FaNombres)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FaNombres)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FaRelacion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FaRelacion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FaNacimiento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FaNacimiento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UsCodigoNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UsCodigoNavigation.UsApellido1)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.FaCodigo">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
