@model INTRANET_CR.Models.Contacto

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Contacto</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CoNombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CoNombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CoApellido)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CoApellido)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CoEmpresa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CoEmpresa)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CoTelefono)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CoTelefono)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CoDireccion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CoDireccion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CoPais)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CoPais)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CoCreador)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CoCreador)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CoFecha)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CoFecha)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CoEstado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CoEstado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmCodigoNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmCodigoNavigation.EmCodigo)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="CoCodigo" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
